<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Gracias</title>
  <link rel="stylesheet" href="/static/style.css"/>
</head>
<body>
  <div class="container">
    <h2>¡Gracias por participar!</h2>
    <p>En caso de querer volver a intentarlo, cliquea de nuevo el link que se compartió previamente.</p>
    <p>Cualquier aporte o comentario suma, no dudes en escribirme a mi mail: <a href="mailto:wbaez@mail.utdt.edu">wbaez@mail.utdt.edu</a></p>
  </div>
</body>
</html>
