<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>MEME SELECTOR</title>
  <link rel="stylesheet" href="/static/style.css"/>
</head>
<body>
  <div class="container">
    <h1>¡Bienvenido al clasificador de memes!</h1>
    <p style="margin-top:10px;margin-bottom:18px;font-size:1.1em;">
      <strong>En este selector hay más de 20.000 imágenes recolectadas de Twitter/X.</strong> Tu ayuda sirve para clasificarlas de forma anónima y con fines de investigación. Algunas pueden contener contenido sensible.
    </p>
    <div style="margin-bottom:18px;">
      <strong>¿Cómo funciona?</strong><br>
      Vas a ver una imagen por vez. Para cada imagen, respondé dos preguntas con una escala del 1 al 5:
      <ul style="margin-top:10px;margin-bottom:10px;">
        <li><strong>¿En qué medida considerarías que esta imagen es un meme?</strong><br>
        <span style="font-size:0.98em;">1 = No es un meme &middot; 2 = Dudoso &middot; 3 = Ambiguo &middot; 4 = Casi seguro &middot; 5 = Es un meme</span></li>
        <li><strong>¿En qué medida considerarías al contenido discurso de odio?</strong><br>
        <span style="font-size:0.98em;">1 = No contiene &middot; 2 = Dudoso &middot; 3 = Ambiguo &middot; 4 = Casi seguro &middot; 5 = Sí, contiene</span></li>
      </ul>
    </div>
    <p><strong>¿Qué es discurso de odio?</strong><br>
    Los discursos de odio son “cualquier tipo de comunicación oral, escrita o conductual que ataque o utilice un lenguaje peyorativo o discriminatorio con referencia a una persona o un grupo en función de quiénes son, es decir, en función de su religión, etnia, nacionalidad, raza, color, ascendencia, género u otro factor de identidad"</p>
    <p style="font-size:0.9em;color:#555;margin-top:4px;">Fuente:&nbsp;
      <a href="https://www.un.org/en/hate-speech/understanding-hate-speech/what-is-hate-speech" target="_blank">ONU - ¿Qué es el discurso de odio?</a>
    </p>
    <p>¡Éxitos!</p>
    <a class="btn" href="{{ next_path }}">Comenzar</a>
  </div>
</body>
</html>
